*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color:white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: rgb(60, 255, 0);
    text-shadow: rgb(60, 255, 0),
                0 0 50px orangered
    transform:scale(1.1);

}
span{
    color: rgb(60, 255, 0);
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a:active{
    color: rgb(60, 255, 0);
    border-bottom: 3px solid rgb(60, 255, 0);
}
.Contact{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.Contact:hover{
    background-color: rgb(60, 255, 0);
    box-shadow: 0 0 25px rgb(60, 255, 0);
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;

}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 35px;
}
.home-content h1{
    font-size: 25px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px;
    background-color: black;
    color: white;
    border:2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;

}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{ padding: 15px;
    background-color:rgb(60, 255, 0);
    color: white;
    border:2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;

}
.btn-2:hover{
     background-color: white;
    color: black;
    border: 2px solid black;

}
.img-box img{
    border-radius: 50%;
    width: 350px;
    height: 300p;
}

::-webkit-scrollbar{
    width: 15px;
    
}
::-webkit-scrollbar-thumb{
    background-color: rgb(60, 255, 0);
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;

}

.about-img img{
    position: relative;
    width: 350px;
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(60, 255, 0)orangered;
   

}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;

}

.about-content h3{
    text-align: left;
    color: white;
    font-size: 62px;

}
.about-content p{
    text-align: left;
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;

}
.Contact-form h2{
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
    font-size:2.5em;
}
.Contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.Contact-form form.input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.Contact-form form .input-box input,
.Contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: white;
    border-radius: 0.8rem;
    margin: 1 rem 0;
    resize: none;


}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    color: aliceblue;

}
.list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    color: white;
}
.social a{
    font-size: 1.5rem;
    color: white;
    border: 2px solid rgb(60, 255, 0);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset rgb(60, 255, 0)drgb(60, 255, 0);
   transition: 0.3s;

}
